body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:350px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3 {
  position:absolute;
  left:30px;
  top:30px;
  width:320px;
  height:568px;
  font-size:28px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u4 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:30px;
  top:30px;
  width:320px;
  height:65px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:65px;
}
#u6 {
  position:absolute;
  left:2px;
  top:24px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:30px;
  top:94px;
  width:320px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:45px;
}
#u9 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:310px;
  top:100px;
  width:32px;
  height:32px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u11 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:38px;
  top:96px;
  width:40px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u13 {
  position:absolute;
  left:0px;
  top:8px;
  width:40px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:30px;
  top:200px;
  width:320px;
  height:220px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:220px;
}
#u16 {
  position:absolute;
  left:2px;
  top:102px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:40px;
  top:210px;
  width:300px;
  height:25px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Courier', 'Courier';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u18 {
  position:absolute;
  left:40px;
  top:280px;
  width:300px;
  height:25px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Courier', 'Courier';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u19 {
  position:absolute;
  left:318px;
  top:211px;
  width:18px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u19_img.mouseOver {
}
#u19.mouseOver {
}
#u19_img.mouseDown {
}
#u19.mouseDown {
}
#u20 {
  position:absolute;
  left:5px;
  top:5px;
  width:8px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:40px;
  top:350px;
  width:300px;
  height:27px;
  font-family:'Courier', 'Courier';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:27px;
}
#u21_img.mouseOver {
}
#u21.mouseOver {
}
#u21_img.mouseDown {
}
#u21.mouseDown {
}
#u21_img.disabled {
}
#u21.disabled {
  opacity:0.5;
}
#u22 {
  position:absolute;
  left:16px;
  top:2px;
  width:268px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:128px;
  top:382px;
  width:125px;
  height:25px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:25px;
}
#u25 {
  position:absolute;
  left:2px;
  top:4px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:40px;
  top:315px;
  width:300px;
  height:25px;
}
#u26_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Courier', 'Courier';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u27 {
  position:absolute;
  left:40px;
  top:245px;
  width:300px;
  height:25px;
}
#u27_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Courier', 'Courier';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u28 {
  position:absolute;
  left:318px;
  top:246px;
  width:18px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u28_img.mouseOver {
}
#u28.mouseOver {
}
#u28_img.mouseDown {
}
#u28.mouseDown {
}
#u29 {
  position:absolute;
  left:5px;
  top:5px;
  width:8px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:318px;
  top:281px;
  width:18px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u30_img.mouseOver {
}
#u30.mouseOver {
}
#u30_img.mouseDown {
}
#u30.mouseDown {
}
#u31 {
  position:absolute;
  left:5px;
  top:5px;
  width:8px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:318px;
  top:316px;
  width:18px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u32_img.mouseOver {
}
#u32.mouseOver {
}
#u32_img.mouseDown {
}
#u32.mouseDown {
}
#u33 {
  position:absolute;
  left:5px;
  top:5px;
  width:8px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:100px;
  top:105px;
  width:180px;
  height:25px;
  font-family:'Courier', 'Courier';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
