body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:670px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3 {
  position:absolute;
  left:30px;
  top:30px;
  width:640px;
  height:1136px;
  font-size:28px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
}
#u4 {
  position:absolute;
  left:2px;
  top:560px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:30px;
  top:30px;
  width:640px;
  height:130px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:130px;
}
#u6 {
  position:absolute;
  left:2px;
  top:57px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:30px;
  top:160px;
  width:640px;
  height:90px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:90px;
}
#u9 {
  position:absolute;
  left:2px;
  top:37px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:590px;
  top:173px;
  width:64px;
  height:64px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u11 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:45px;
  top:160px;
  width:80px;
  height:90px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:90px;
}
#u13 {
  position:absolute;
  left:0px;
  top:20px;
  width:80px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:47px;
  top:310px;
  width:600px;
  height:50px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16 {
  position:absolute;
  left:47px;
  top:450px;
  width:600px;
  height:50px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u17 {
  position:absolute;
  left:617px;
  top:324px;
  width:36px;
  height:36px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u17_img.mouseOver {
}
#u17.mouseOver {
}
#u17_img.mouseDown {
}
#u17.mouseDown {
}
#u18 {
  position:absolute;
  left:5px;
  top:5px;
  width:26px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:47px;
  top:590px;
  width:600px;
  height:44px;
  font-family:'CourierNewPSMT', 'Courier New';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  line-height:24px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:44px;
}
#u19_img.mouseOver {
}
#u19.mouseOver {
}
#u19_img.mouseDown {
}
#u19.mouseDown {
}
#u19_img.disabled {
}
#u19.disabled {
  opacity:0.5;
}
#u20 {
  position:absolute;
  left:16px;
  top:10px;
  width:568px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:222px;
  top:654px;
  width:250px;
  height:50px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:50px;
}
#u23 {
  position:absolute;
  left:2px;
  top:17px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:47px;
  top:520px;
  width:600px;
  height:50px;
}
#u24_input {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u25 {
  position:absolute;
  left:47px;
  top:380px;
  width:600px;
  height:50px;
}
#u25_input {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u26 {
  position:absolute;
  left:617px;
  top:394px;
  width:36px;
  height:36px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u26_img.mouseOver {
}
#u26.mouseOver {
}
#u26_img.mouseDown {
}
#u26.mouseDown {
}
#u27 {
  position:absolute;
  left:5px;
  top:5px;
  width:26px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:617px;
  top:464px;
  width:36px;
  height:36px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u28_img.mouseOver {
}
#u28.mouseOver {
}
#u28_img.mouseDown {
}
#u28.mouseDown {
}
#u29 {
  position:absolute;
  left:5px;
  top:5px;
  width:26px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:617px;
  top:534px;
  width:36px;
  height:36px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u30_img.mouseOver {
}
#u30.mouseOver {
}
#u30_img.mouseDown {
}
#u30.mouseDown {
}
#u31 {
  position:absolute;
  left:5px;
  top:5px;
  width:26px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:220px;
  top:159px;
  width:280px;
  height:90px;
  font-size:36px;
  color:#FFFFFF;
  text-align:center;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:90px;
}
#u33 {
  position:absolute;
  left:0px;
  top:20px;
  width:280px;
  word-wrap:break-word;
}
