body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:350px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3 {
  position:absolute;
  left:30px;
  top:30px;
  width:320px;
  height:568px;
  font-size:28px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u4 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:30px;
  top:30px;
  width:320px;
  height:65px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:65px;
}
#u6 {
  position:absolute;
  left:2px;
  top:24px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:30px;
  top:94px;
  width:320px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:45px;
}
#u9 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:38px;
  top:96px;
  width:40px;
  height:40px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u11 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:310px;
  top:100px;
  width:32px;
  height:32px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u13 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:30px;
  top:553px;
  width:320px;
  height:45px;
  font-family:'Courier', 'Courier';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:45px;
}
#u16 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:30px;
  top:553px;
  width:64px;
  height:45px;
  font-family:'Courier', 'Courier';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:24px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:45px;
}
#u17_img.selected {
}
#u17.selected {
}
#u17_img.mouseOver {
}
#u17.mouseOver {
}
#u17_img.mouseDown {
}
#u17.mouseDown {
}
#u17_img.disabled {
}
#u17.disabled {
  opacity:0.5;
}
#u18 {
  position:absolute;
  left:16px;
  top:10px;
  width:32px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:94px;
  top:553px;
  width:64px;
  height:45px;
  font-family:'Courier', 'Courier';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:24px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:45px;
}
#u19_img.selected {
}
#u19.selected {
}
#u19_img.mouseOver {
}
#u19.mouseOver {
}
#u19_img.mouseDown {
}
#u19.mouseDown {
}
#u19_img.disabled {
}
#u19.disabled {
  opacity:0.5;
}
#u20 {
  position:absolute;
  left:16px;
  top:10px;
  width:32px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:222px;
  top:553px;
  width:64px;
  height:45px;
  font-family:'Courier', 'Courier';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:24px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:45px;
}
#u21_img.mouseOver {
}
#u21.mouseOver {
}
#u21_img.mouseDown {
}
#u21.mouseDown {
}
#u21_img.disabled {
}
#u21.disabled {
  opacity:0.5;
}
#u22 {
  position:absolute;
  left:16px;
  top:10px;
  width:32px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:286px;
  top:553px;
  width:64px;
  height:45px;
  font-family:'Courier', 'Courier';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:24px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:45px;
}
#u23_img.mouseOver {
}
#u23.mouseOver {
}
#u23_img.mouseDown {
}
#u23.mouseDown {
}
#u23_img.disabled {
}
#u23.disabled {
  opacity:0.5;
}
#u24 {
  position:absolute;
  left:16px;
  top:10px;
  width:32px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:158px;
  top:553px;
  width:64px;
  height:45px;
  font-family:'Courier', 'Courier';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:45px;
}
#u25_img.mouseOver {
}
#u25.mouseOver {
}
#u25_img.mouseDown {
}
#u25.mouseDown {
}
#u25_img.disabled {
}
#u25.disabled {
  opacity:0.5;
}
#u26 {
  position:absolute;
  left:12px;
  top:12px;
  width:40px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:104px;
  top:98px;
  width:171px;
  height:39px;
  font-family:'CourierNewPSMT', 'Courier New';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:39px;
}
#u28 {
  position:absolute;
  left:0px;
  top:8px;
  width:171px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:30px;
  top:137px;
  width:320px;
  height:414px;
  overflow:hidden;
}
#u30_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:414px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u30_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:640px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:640px;
}
#u32 {
  position:absolute;
  left:2px;
  top:312px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:0px;
  top:256px;
  width:320px;
  height:80px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:80px;
}
#u35 {
  position:absolute;
  left:2px;
  top:32px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:10px;
  top:266px;
  width:80px;
  height:60px;
  font-family:'Courier', 'Courier';
  font-weight:400;
  font-style:normal;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
}
#u37 {
  position:absolute;
  left:2px;
  top:22px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36_ann {
  position:absolute;
  left:83px;
  top:262px;
  width:1px;
  height:1px;
}
#u38 {
  position:absolute;
  left:100px;
  top:272px;
  width:215px;
  height:22px;
  font-family:'Courier-Bold', 'Courier Bold', 'Courier';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:22px;
}
#u39 {
  position:absolute;
  left:2px;
  top:2px;
  width:211px;
  word-wrap:break-word;
}
#u38_ann {
  position:absolute;
  left:308px;
  top:268px;
  width:1px;
  height:1px;
}
#u40 {
  position:absolute;
  left:0px;
  top:328px;
  width:320px;
  height:10px;
}
#u40_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u41 {
  position:absolute;
  left:100px;
  top:291px;
  width:215px;
  height:38px;
  font-family:'Courier-Bold', 'Courier Bold', 'Courier';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#999999;
  text-align:left;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:38px;
}
#u42 {
  position:absolute;
  left:2px;
  top:5px;
  width:211px;
  word-wrap:break-word;
}
#u41_ann {
  position:absolute;
  left:308px;
  top:287px;
  width:1px;
  height:1px;
}
#u43 {
  position:absolute;
  left:220px;
  top:311px;
  width:90px;
  height:15px;
  font-family:'Courier', 'Courier';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#999999;
  text-align:right;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:15px;
}
#u44 {
  position:absolute;
  left:2px;
  top:2px;
  width:86px;
  word-wrap:break-word;
}
#u43_ann {
  position:absolute;
  left:303px;
  top:307px;
  width:1px;
  height:1px;
}
#u45 {
  position:absolute;
  left:10px;
  top:271px;
  width:285px;
  height:55px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u47 {
  position:absolute;
  left:0px;
  top:420px;
  width:320px;
  height:80px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:80px;
}
#u48 {
  position:absolute;
  left:2px;
  top:32px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:10px;
  top:430px;
  width:80px;
  height:60px;
  font-family:'Courier', 'Courier';
  font-weight:400;
  font-style:normal;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
}
#u50 {
  position:absolute;
  left:2px;
  top:22px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49_ann {
  position:absolute;
  left:83px;
  top:426px;
  width:1px;
  height:1px;
}
#u51 {
  position:absolute;
  left:100px;
  top:436px;
  width:215px;
  height:22px;
  font-family:'Courier-Bold', 'Courier Bold', 'Courier';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:22px;
}
#u52 {
  position:absolute;
  left:2px;
  top:2px;
  width:211px;
  word-wrap:break-word;
}
#u51_ann {
  position:absolute;
  left:308px;
  top:432px;
  width:1px;
  height:1px;
}
#u53 {
  position:absolute;
  left:0px;
  top:492px;
  width:320px;
  height:10px;
}
#u53_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u53_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u53_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u54 {
  position:absolute;
  left:100px;
  top:455px;
  width:215px;
  height:38px;
  font-family:'Courier-Bold', 'Courier Bold', 'Courier';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#999999;
  text-align:left;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:38px;
}
#u55 {
  position:absolute;
  left:2px;
  top:5px;
  width:211px;
  word-wrap:break-word;
}
#u54_ann {
  position:absolute;
  left:308px;
  top:451px;
  width:1px;
  height:1px;
}
#u56 {
  position:absolute;
  left:220px;
  top:475px;
  width:90px;
  height:15px;
  font-family:'Courier', 'Courier';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#999999;
  text-align:right;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:15px;
}
#u57 {
  position:absolute;
  left:2px;
  top:2px;
  width:86px;
  word-wrap:break-word;
}
#u56_ann {
  position:absolute;
  left:303px;
  top:471px;
  width:1px;
  height:1px;
}
#u58 {
  position:absolute;
  left:10px;
  top:435px;
  width:285px;
  height:55px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u60 {
  position:absolute;
  left:0px;
  top:140px;
  width:320px;
  height:34px;
  font-family:'Courier', 'Courier';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:34px;
}
#u61 {
  position:absolute;
  left:2px;
  top:9px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:10px;
  top:140px;
  width:24px;
  height:24px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u63 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:40px;
  top:144px;
  width:57px;
  height:20px;
  font-family:'Courier-Bold', 'Courier Bold', 'Courier';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:0px;
  top:164px;
  width:320px;
  height:10px;
}
#u66_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u66_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u66_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u67 {
  position:absolute;
  left:290px;
  top:148px;
  width:21px;
  height:14px;
  font-family:'Courier', 'Courier';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:14px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:140px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:140px;
}
#u71 {
  position:absolute;
  left:2px;
  top:62px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70_ann {
  position:absolute;
  left:313px;
  top:-4px;
  width:1px;
  height:1px;
}
#u73 {
  position:absolute;
  left:0px;
  top:174px;
  width:320px;
  height:80px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:80px;
}
#u74 {
  position:absolute;
  left:2px;
  top:32px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:10px;
  top:184px;
  width:80px;
  height:60px;
  font-family:'Courier', 'Courier';
  font-weight:400;
  font-style:normal;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
}
#u76 {
  position:absolute;
  left:2px;
  top:22px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75_ann {
  position:absolute;
  left:83px;
  top:180px;
  width:1px;
  height:1px;
}
#u77 {
  position:absolute;
  left:100px;
  top:189px;
  width:215px;
  height:24px;
  font-family:'Courier-Bold', 'Courier Bold', 'Courier';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:24px;
}
#u78 {
  position:absolute;
  left:2px;
  top:2px;
  width:211px;
  word-wrap:break-word;
}
#u77_ann {
  position:absolute;
  left:308px;
  top:185px;
  width:1px;
  height:1px;
}
#u79 {
  position:absolute;
  left:0px;
  top:246px;
  width:320px;
  height:10px;
}
#u79_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u79_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u79_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u80 {
  position:absolute;
  left:100px;
  top:209px;
  width:215px;
  height:38px;
  font-family:'Courier-Bold', 'Courier Bold', 'Courier';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#999999;
  text-align:left;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:38px;
}
#u81 {
  position:absolute;
  left:2px;
  top:5px;
  width:211px;
  word-wrap:break-word;
}
#u80_ann {
  position:absolute;
  left:308px;
  top:205px;
  width:1px;
  height:1px;
}
#u82 {
  position:absolute;
  left:220px;
  top:229px;
  width:90px;
  height:15px;
  font-family:'Courier', 'Courier';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#999999;
  text-align:right;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:15px;
}
#u83 {
  position:absolute;
  left:2px;
  top:2px;
  width:86px;
  word-wrap:break-word;
}
#u82_ann {
  position:absolute;
  left:303px;
  top:225px;
  width:1px;
  height:1px;
}
#u84 {
  position:absolute;
  left:10px;
  top:189px;
  width:290px;
  height:55px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u86 {
  position:absolute;
  left:0px;
  top:338px;
  width:320px;
  height:80px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:80px;
}
#u87 {
  position:absolute;
  left:2px;
  top:32px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:10px;
  top:348px;
  width:80px;
  height:60px;
  font-family:'Courier', 'Courier';
  font-weight:400;
  font-style:normal;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
}
#u89 {
  position:absolute;
  left:2px;
  top:22px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88_ann {
  position:absolute;
  left:83px;
  top:344px;
  width:1px;
  height:1px;
}
#u90 {
  position:absolute;
  left:100px;
  top:353px;
  width:215px;
  height:24px;
  font-family:'Courier-Bold', 'Courier Bold', 'Courier';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:24px;
}
#u91 {
  position:absolute;
  left:2px;
  top:2px;
  width:211px;
  word-wrap:break-word;
}
#u90_ann {
  position:absolute;
  left:308px;
  top:349px;
  width:1px;
  height:1px;
}
#u92 {
  position:absolute;
  left:0px;
  top:410px;
  width:320px;
  height:10px;
}
#u92_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u92_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u92_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u93 {
  position:absolute;
  left:100px;
  top:373px;
  width:215px;
  height:38px;
  font-family:'Courier-Bold', 'Courier Bold', 'Courier';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#999999;
  text-align:left;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:38px;
}
#u94 {
  position:absolute;
  left:2px;
  top:5px;
  width:211px;
  word-wrap:break-word;
}
#u93_ann {
  position:absolute;
  left:308px;
  top:369px;
  width:1px;
  height:1px;
}
#u95 {
  position:absolute;
  left:220px;
  top:393px;
  width:90px;
  height:15px;
  font-family:'Courier', 'Courier';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#999999;
  text-align:right;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:15px;
}
#u96 {
  position:absolute;
  left:2px;
  top:2px;
  width:86px;
  word-wrap:break-word;
}
#u95_ann {
  position:absolute;
  left:303px;
  top:389px;
  width:1px;
  height:1px;
}
#u97 {
  position:absolute;
  left:10px;
  top:353px;
  width:285px;
  height:55px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
